.cash-100-icon {
  position: absolute;
  top: 1546.5px;
  left: 10.5px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.dng-pet-c-l-child,
.dng-pet-c-l-item {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-darkturquoise);
  width: 1280px;
  height: 78px;
}
.dng-pet-c-l-item {
  top: 78px;
  background-color: var(--color-white);
  box-shadow: 0 6px 4px rgba(0, 0, 0, 0.25);
  height: 126px;
}
.ti-ng-dng1 {
  position: absolute;
  top: 28px;
  left: 115px;
  font-size: var(--font-size-base);
  color: var(--color-snow-100);
}
.dng-pet-c-l-inner {
  position: absolute;
  top: 27px;
  left: 263px;
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  width: 161px;
  height: 23px;
}
.hotline-08488614721 {
  position: absolute;
  top: 29px;
  left: 273px;
  font-size: var(--font-size-sm);
  display: inline-block;
  width: 147px;
  height: 12px;
}
.clipboard-list1 {
  position: absolute;
  top: 91px;
  left: 421px;
  background-color: var(--color-gray-500);
  width: 25px;
  height: 25px;
  overflow: hidden;
}
.map-marker-icon1 {
  position: absolute;
  top: 25px;
  left: 1021px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.h-ch-minh1,
.kim-tra-n1 {
  position: absolute;
  top: 29px;
  font-size: var(--font-size-sm);
  color: var(--color-white);
}
.kim-tra-n1 {
  left: 899px;
}
.h-ch-minh1 {
  left: 1045px;
}
.th-removebg-preview-2-11 {
  position: absolute;
  top: 0;
  left: 0;
  width: 211px;
  height: 74px;
  object-fit: cover;
}
.trang-thng-mi1 {
  position: absolute;
  top: 65px;
  left: 7px;
}
.th-removebg-preview-2-1-group {
  position: absolute;
  top: 86px;
  left: 65px;
  width: 332px;
  height: 83px;
  font-size: var(--font-size-mini);
  color: var(--color-black);
}
.dng-pet-c-l-child1 {
  position: absolute;
  top: 114px;
  left: 431px;
  border-radius: var(--br-6xl);
  background-color: var(--color-plum);
  border: 1.5px solid var(--color-fuchsia-100);
  box-sizing: border-box;
  width: 430px;
  height: 37px;
}
.vector-icon28 {
  position: absolute;
  height: 0.84%;
  width: 1.33%;
  top: 4.43%;
  right: 34.61%;
  bottom: 94.73%;
  left: 64.06%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.dng-pet-c-l-child2 {
  position: absolute;
  top: 118px;
  left: 1002px;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-darkturquoise);
  box-sizing: border-box;
  width: 134px;
  height: 29px;
}
.vector-icon29 {
  position: absolute;
  height: 0.77%;
  width: 1.48%;
  top: 4.47%;
  right: 19.53%;
  bottom: 94.77%;
  left: 78.98%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.ti-khon1 {
  position: absolute;
  top: 123px;
  left: 899px;
  font-size: var(--font-size-sm);
}
.account-icon1 {
  position: absolute;
  top: 122px;
  left: 872px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.gi-hng4,
.tm-kim-sn1 {
  position: absolute;
  top: 123px;
  font-size: var(--font-size-sm);
}
.tm-kim-sn1 {
  left: 445px;
  color: var(--color-dimgray-100);
}
.gi-hng4 {
  left: 1035px;
}
.dng-pet-c-l-child3 {
  position: absolute;
  top: 121px;
  left: 1103px;
  width: 23px;
  height: 23px;
}
.div20 {
  position: absolute;
  top: 123px;
  left: 1110px;
  font-size: var(--font-size-sm);
  color: var(--color-white);
}
.dng-pet-c-l-child4 {
  position: absolute;
  top: 314px;
  left: 0;
  background-color: var(--color-gainsboro-100);
  width: 1280px;
  height: 1153px;
}
.dng-pet-c-l-child5 {
  position: absolute;
  top: 202px;
  left: 489.5px;
  width: 1px;
  height: 112px;
}
.danh-mc-sn1 {
  position: absolute;
  top: 249px;
  left: 65px;
  font-size: var(--font-size-9xl);
}
.dng-pet-c-l-child6,
.dng-pet-c-l-child7 {
  position: absolute;
  top: 247.5px;
  left: 386px;
  width: 46px;
  height: 1px;
}
.dng-pet-c-l-child7 {
  top: 257.5px;
}
.dng-pet-c-l-child8 {
  top: 269.5px;
}
.dng-pet-c-l-child8,
.dng-pet-c-l-child9 {
  position: absolute;
  left: 386px;
  width: 46px;
  height: 1px;
}
.home-icon1 {
  position: absolute;
}
.dng-pet-c-l-child9 {
  top: 282.5px;
}
.home-icon1 {
  top: 246px;
  left: 509px;
  width: 35px;
  height: 35px;
  overflow: hidden;
}
.trang-ch2 {
  position: absolute;
  top: 0;
  left: 0;
}
.chm-sc-khch1,
.trang-ch1 {
  position: absolute;
  font-size: var(--font-size-xl);
}
.trang-ch1 {
  top: 252px;
  left: 551px;
  width: 95px;
  height: 24px;
  cursor: pointer;
  color: var(--color-dimgray-100);
}
.chm-sc-khch1 {
  top: 251px;
  left: 690px;
}
.dng-pet-c-l-child10 {
  position: absolute;
  top: 356px;
  left: 63px;
  background-color: var(--color-white);
  width: 440px;
  height: 802px;
}
.chm-sc-th {
  top: 366px;
}
.chm-sc-th,
.gi-sn-phm,
.thng-hiu- {
  position: absolute;
  left: 91px;
  font-size: var(--font-size-13xl);
}
.gi-sn-phm {
  top: 629px;
}
.thng-hiu- {
  top: 932px;
}
.chm-sc-ch {
  position: absolute;
  top: 424px;
  left: 91px;
  font-size: var(--font-size-xl);
  color: var(--color-dimgray-100);
}
.chm-sc-mo,
.chm-sc-vt {
  left: 91px;
}
.chm-sc-mo,
.chm-sc-vt,
.di-300000,
.div21,
.div22,
.div23,
.trn-2000000 {
  position: absolute;
  font-size: var(--font-size-xl);
  color: var(--color-dimgray-100);
}
.chm-sc-mo {
  top: 477px;
}
.chm-sc-vt {
  top: 538px;
}
.di-300000 {
  top: 691px;
  left: 140px;
}
.div21,
.div22,
.div23,
.trn-2000000 {
  left: 140px;
}
.div21 {
  top: 731px;
}
.div22 {
  top: 774px;
}
.div23 {
  top: 817px;
}
.trn-2000000 {
  top: 855px;
}
.whiskas {
  margin-bottom: 0;
}
.whiskas-esbilac-budlebudle-ne {
  margin: 0;
  padding-left: var(--padding-8xl);
}
.nutrience-lee-container,
.whiskas-esbilac-budlebudle-container {
  position: absolute;
  top: 978px;
  font-size: var(--font-inherit);
  font-family: var(--font-inherit);
  color: var(--color-dimgray-100);
}
.whiskas-esbilac-budlebudle-container {
  left: 80px;
}
.nutrience-lee-container {
  left: 305px;
}
.dng-pet-c-l-child11,
.dng-pet-c-l-child12 {
  position: absolute;
  top: 697px;
  left: 98px;
  width: 21px;
  height: 21px;
}
.dng-pet-c-l-child12 {
  top: 737px;
}
.dng-pet-c-l-child13 {
  top: 780px;
}
.dng-pet-c-l-child13,
.dng-pet-c-l-child14,
.dng-pet-c-l-child15 {
  position: absolute;
  left: 98px;
  width: 21px;
  height: 21px;
}
.dng-pet-c-l-child14 {
  top: 823px;
}
.dng-pet-c-l-child15 {
  top: 861px;
}
.dng-pet-c-l-child16,
.rectangle-icon {
  position: absolute;
  top: 599.5px;
  left: 62px;
  width: 442px;
  height: 311px;
}
.rectangle-icon {
  top: 356px;
  left: 521px;
  width: 615px;
  height: 60px;
}
.sp-xp-theo,
.tn-kho-gim {
  position: absolute;
  top: 373px;
  left: 526px;
  font-size: var(--font-size-xl);
  color: var(--color-dimgray-100);
}
.tn-kho-gim {
  top: 373.53px;
  left: 682.93px;
  transform: rotate(-0.34deg);
  transform-origin: 0 0;
}
.dng-pet-c-l-child17 {
  position: absolute;
  top: 366px;
  left: 674px;
  border-radius: var(--br-8xs);
  border: 1px solid var(--color-dimgray-100);
  box-sizing: border-box;
  width: 213px;
  height: 37px;
}
.vector-icon30 {
  position: absolute;
  height: 0.6%;
  width: 1.22%;
  top: 22.4%;
  right: 31.2%;
  bottom: 77%;
  left: 67.58%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.dng-pet-c-l-child18 {
  position: absolute;
  top: 680px;
  left: 518px;
  background-color: var(--color-white);
  width: 149px;
  height: 247px;
}
.dng-pet-c-l-child19 {
  left: 518px;
}
.dng-pet-c-l-child19,
.dng-pet-c-l-child20,
.dng-pet-c-l-child21 {
  position: absolute;
  background-color: var(--color-white);
  width: 149px;
  height: 247px;
}
.dng-pet-c-l-child19 {
  top: 933px;
}
.dng-pet-c-l-child20 {
  top: 1186px;
  left: 520px;
}
.dng-pet-c-l-child21 {
  top: 427px;
  left: 673px;
}
.div24 {
  position: absolute;
  top: 635px;
  left: 682px;
  color: var(--color-red-100);
}
.dng-pet-c-l-child22,
.dng-pet-c-l-child23,
.dng-pet-c-l-child24 {
  position: absolute;
  top: 680px;
  left: 673px;
  background-color: var(--color-white);
  width: 149px;
  height: 247px;
}
.dng-pet-c-l-child23,
.dng-pet-c-l-child24 {
  top: 1186px;
  left: 675px;
}
.dng-pet-c-l-child24 {
  top: 427px;
  left: 829px;
}
.dng-pet-c-l-child25,
.dng-pet-c-l-child26 {
  left: 829px;
}
.dng-pet-c-l-child25,
.dng-pet-c-l-child26,
.dng-pet-c-l-child27 {
  position: absolute;
  background-color: var(--color-white);
  width: 149px;
  height: 247px;
}
.dng-pet-c-l-child25 {
  top: 680px;
}
.dng-pet-c-l-child26 {
  top: 933px;
}
.dng-pet-c-l-child27 {
  top: 1186px;
  left: 831px;
}
.dng-pet-c-l-child28 {
  top: 427px;
}
.dng-pet-c-l-child28,
.dng-pet-c-l-child29,
.dng-pet-c-l-child30 {
  position: absolute;
  left: 987px;
  background-color: var(--color-white);
  width: 149px;
  height: 247px;
}
.dng-pet-c-l-child31 {
  width: 149px;
  height: 247px;
}
.dng-pet-c-l-child31,
.dng-pet-c-l-child32 {
  position: absolute;
  background-color: var(--color-white);
}
.dng-pet-c-l-child29 {
  top: 680px;
}
.dng-pet-c-l-child30 {
  top: 933px;
}
.dng-pet-c-l-child31 {
  top: 1186px;
  left: 989px;
}
.dng-pet-c-l-child32 {
  top: 1167px;
  left: 62px;
  width: 442px;
  height: 56px;
}
.vector-icon31 {
  position: absolute;
  height: 0.58%;
  width: 1.72%;
  top: 1.06%;
  right: 91.72%;
  bottom: 98.36%;
  left: 6.56%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.dng-pet-c-l-child33 {
  position: absolute;
  top: 933px;
  left: 673px;
  background-color: var(--color-white);
  width: 149px;
  height: 247px;
}
.div25,
.dng-c-bt {
  position: absolute;
  left: 684px;
}
.div25 {
  top: 1141px;
  color: var(--color-red-100);
}
.dng-c-bt {
  top: 1100px;
}
.pate-cho-ch {
  margin: 0;
}
.pate-cho-ch-container {
  position: absolute;
  top: 594px;
  left: 682px;
}
.t-qun-sukila,
.t-qun-sukila1 {
  position: absolute;
  top: 594px;
  left: 837px;
}
.t-qun-sukila1 {
  top: 844px;
  left: 529px;
}
.bn-co-mo-container {
  position: absolute;
  top: 594px;
  left: 994px;
}
.bn-co-mo-container1,
.div26 {
  position: absolute;
  top: 841px;
  left: 835px;
}
.div26 {
  top: 635px;
  left: 837px;
}
.div26,
.div27 {
  color: var(--color-red-100);
}
.div27,
.div28,
.div29 {
  position: absolute;
}
.div27 {
  top: 885px;
  left: 529px;
}
.div28,
.div29 {
  top: 636px;
  left: 898px;
  color: var(--color-dimgray-100);
}
.div29 {
  top: 887px;
  left: 594px;
}
.dng-pet-c-l-child34,
.dng-pet-c-l-child35 {
  position: absolute;
  top: 644.5px;
  left: 896px;
  width: 53px;
  height: 1px;
}
.dng-pet-c-l-child35 {
  top: 894.5px;
  left: 592px;
  opacity: 0.1;
}
.div30 {
  position: absolute;
  top: 635px;
  left: 995px;
  color: var(--color-red-100);
}
.thuc-ty-giun-container {
  position: absolute;
  top: 840px;
  left: 682px;
  white-space: pre-wrap;
}
.sp-thng-cho-container {
  position: absolute;
  top: 841px;
  left: 995px;
}
.div31 {
  top: 881px;
  left: 837px;
}
.div31,
.div32,
.div33,
.div34 {
  position: absolute;
  color: var(--color-red-100);
}
.div32 {
  top: 882px;
  left: 995px;
}
.div33 {
  top: 881px;
  left: 682px;
}
.div34 {
  top: 1149px;
  left: 529px;
}
.thc-n-mo-container,
.tht-c-container {
  position: absolute;
  top: 1108px;
  left: 529px;
}
.tht-c-container {
  left: 832px;
}
.bnh-xng-dentastix-container {
  position: absolute;
  top: 1108px;
  left: 990px;
}
.div35 {
  position: absolute;
  left: 834px;
  color: var(--color-red-100);
}
.div35,
.div36 {
  top: 1149px;
}
.div36,
.div37 {
  position: absolute;
  color: var(--color-red-100);
}
.div36 {
  left: 1003px;
}
.div37 {
  top: 1392px;
  left: 529px;
}
.thc-n-mo-container1 {
  position: absolute;
  top: 1351px;
  left: 529px;
}
.thc-n-t-container {
  left: 682px;
}
.t-ch-c,
.thc-n-cho-container,
.thc-n-t-container {
  position: absolute;
  top: 1351px;
}
.thc-n-cho-container {
  left: 837px;
}
.t-ch-c {
  left: 990px;
}
.div38 {
  left: 837px;
}
.div38,
.div39,
.div40 {
  position: absolute;
  top: 1392px;
  color: var(--color-red-100);
}
.div39 {
  left: 1003px;
}
.div40 {
  left: 682px;
}
.dng-pet-c-l-child36 {
  position: absolute;
  top: 1444px;
  left: 788px;
  width: 17px;
  height: 16px;
}
.span7 {
  color: var(--color-black);
}
.div41 {
  position: absolute;
  top: 1444px;
  left: 793px;
  color: var(--color-white);
}
.dng-pet-c-l-child37,
.dng-pet-c-l-child38 {
  position: absolute;
  top: 1467px;
  left: 0;
  background-color: var(--color-darkturquoise);
  width: 1280px;
  height: 114px;
}
.dng-pet-c-l-child38 {
  top: 1984px;
  height: 224px;
}
.cloud-download1 {
  position: absolute;
  top: 135px;
  left: 769px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.image-21-icon {
  position: absolute;
  top: 1581px;
  left: 0;
  width: 1280px;
  height: 406px;
  object-fit: cover;
}
.vector-icon32 {
  position: absolute;
  height: 1.06%;
  width: 2.89%;
  top: 55.23%;
  right: 88.75%;
  bottom: 43.7%;
  left: 8.36%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.book-open-variant-icon1,
.vector-icon33 {
  position: absolute;
  top: 1502px;
  left: 377px;
  width: 39px;
  height: 39px;
  overflow: hidden;
}
.vector-icon33 {
  height: 1.21%;
  width: 1.95%;
  top: 55.2%;
  right: 47.5%;
  bottom: 43.59%;
  left: 50.55%;
  max-width: 100%;
  max-height: 100%;
}
.phone-in-talk-icon1 {
  position: absolute;
  top: 1508px;
  left: 939px;
  width: 37px;
  height: 37px;
  overflow: hidden;
}
.bn-cn-hr-container1 {
  position: absolute;
  top: 1505px;
  font-size: var(--font-size-base);
  color: var(--color-white);
}
.chnh-sch-i-container1 {
  left: 158px;
}
.chnh-sch-i-container1,
.chnh-sch-mua-container1,
.iu-khon-s-container1 {
  position: absolute;
  top: 1505px;
  font-size: var(--font-size-base);
  color: var(--color-white);
}
.iu-khon-s-container1 {
  left: 428px;
}
.chnh-sch-mua-container1 {
  left: 686px;
}
.bn-cn-hr-container1 {
  left: 983px;
}
.dng-pet-c-l-child39 {
  left: 347.5px;
}
.dng-pet-c-l-child39,
.dng-pet-c-l-child40,
.dng-pet-c-l-child41 {
  position: absolute;
  top: 1502px;
  width: 1px;
  height: 58px;
}
.dng-pet-c-l-child40 {
  left: 629.5px;
}
.dng-pet-c-l-child41 {
  left: 905.5px;
}
.nhn-thng-tin,
.nhn-thng-tin1 {
  position: absolute;
  top: 2002px;
  left: 338px;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
}
.nhn-thng-tin1 {
  top: 2039px;
  left: 432px;
  font-size: var(--font-size-base);
}
.dng-pet-c-l-child42 {
  position: absolute;
  top: 2090px;
  left: 310px;
  background-color: var(--color-white);
  width: 693px;
  height: 46px;
}
.dng-pet-c-l-child43 {
  position: absolute;
  top: 2090px;
  left: 892px;
  background-color: #fe9bb8;
  width: 111px;
  height: 46px;
}
.gi1,
.vui-lng-nhp1 {
  position: absolute;
}
.vui-lng-nhp1 {
  top: 2102px;
  left: 324px;
  font-size: var(--font-size-base);
  color: var(--color-dimgray-100);
}
.gi1 {
  top: 2100px;
  left: 931px;
  font-size: var(--font-size-xl);
  color: var(--color-white);
}
.th-removebg-preview-2-21 {
  position: absolute;
  top: 2251px;
  left: 75px;
  width: 263px;
  height: 81px;
  object-fit: cover;
}
.chng-nhn2 {
  left: 85px;
}
.chng-nhn2,
.chng-nhn3,
.h-tr-khch2,
.h-tr-khch3,
.v-chng-ti1 {
  position: absolute;
  font-size: var(--font-size-5xl);
  color: var(--color-mediumvioletred);
}
.v-chng-ti1 {
  top: 2355px;
  left: 85px;
}
.chng-nhn2 {
  top: 2581px;
}
.chng-nhn3 {
  top: 2580px;
  left: 540px;
}
.h-tr-khch2 {
  top: 2355px;
  left: 439px;
}
.h-tr-khch3 {
  top: 2355px;
  left: 809px;
}
.chnh-sch-t1 {
  color: inherit;
}
.phng-thc-vn3 {
  color: var(--font-inherit);
}
.chnh-sch-t-hng-v-iu-kh2 {
  margin: 0;
  padding-left: var(--padding-2xl);
}
.chnh-sch-t-container1 {
  position: absolute;
  top: 2396px;
  left: 411px;
  font-size: var(--font-inherit);
  text-decoration: underline;
  font-family: var(--font-inherit);
  color: var(--font-inherit);
  display: inline-block;
  width: 366px;
}
.dng-pet-c-l-child44 {
  position: absolute;
  top: 2388.5px;
  left: 87px;
  width: 107px;
  height: 1px;
}
.dng-pet-c-l-child45 {
  left: 87px;
}
.dng-pet-c-l-child45,
.dng-pet-c-l-child46 {
  position: absolute;
  width: 107px;
  height: 1px;
}
.dng-pet-c-l-child45 {
  top: 2609.5px;
}
.dng-pet-c-l-child46 {
  top: 2611.5px;
  left: 540px;
}
.dng-pet-c-l-child47,
.dng-pet-c-l-child48 {
  position: absolute;
  top: 2389.5px;
  left: 440px;
  width: 107px;
  height: 1px;
}
.dng-pet-c-l-child48 {
  left: 811px;
}
.gii-thiu-tin-container1 {
  position: absolute;
  top: 2395px;
  left: 60px;
  font-size: var(--font-inherit);
  text-decoration: underline;
  font-family: var(--font-inherit);
  color: var(--font-inherit);
}
.s-30-tn1 {
  color: var(--color-gray-600);
}
.wwwaeoneshopcom3 {
  text-decoration: underline;
}
.bn-quyn-ca-cng-ty-tnhh-aeo1 {
  margin: 0;
  color: var(--color-black);
}
.a-ch-tr-container1 {
  position: absolute;
  top: 2395px;
  left: 810px;
  font-size: var(--font-size-base);
  display: inline-block;
  width: 468px;
  height: 177px;
  color: var(--color-gray-600);
}
.image-removebg-preview-1-11,
.image-removebg-preview-1-icon1 {
  position: absolute;
  object-fit: cover;
}
.image-removebg-preview-1-icon1 {
  top: 2574px;
  left: 269px;
  width: 171px;
  height: 56px;
}
.image-removebg-preview-1-11 {
  top: 2569px;
  left: 738px;
  width: 273px;
  height: 57px;
}
.phng-thc-thanh3,
.theo-di-chng1 {
  position: absolute;
  top: 2660px;
  left: 73px;
  font-size: var(--font-size-base);
  color: var(--color-gray-400);
}
.theo-di-chng1 {
  left: 774px;
}
.dng-pet-c-l-child49 {
  left: 279px;
}
.dng-pet-c-l-child49,
.dng-pet-c-l-child50,
.dng-pet-c-l-child51,
.dng-pet-c-l-child52,
.dng-pet-c-l-child53 {
  position: absolute;
  top: 2655px;
  border-radius: var(--br-8xs);
  background-color: var(--color-gainsboro-400);
  width: 63px;
  height: 30px;
}
.dng-pet-c-l-child50 {
  left: 352px;
}
.dng-pet-c-l-child51 {
  left: 425px;
}
.dng-pet-c-l-child52 {
  left: 498px;
}
.dng-pet-c-l-child53 {
  left: 571px;
}
.vector-icon34,
.vector-icon35 {
  position: absolute;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon34 {
  height: 1.06%;
  width: 4.92%;
  top: 97.22%;
  right: 73.28%;
  bottom: 1.72%;
  left: 21.8%;
  border-radius: var(--br-8xs);
}
.vector-icon35 {
  height: 0.44%;
  width: 1.56%;
  top: 97.25%;
  right: 57.81%;
  bottom: 2.31%;
  left: 40.63%;
}
.div42,
.tin-mt1 {
  position: absolute;
}
.tin-mt1 {
  top: 2669px;
  left: 503px;
  font-size: var(--font-size-smi);
  color: var(--color-gray-600);
}
.div42 {
  top: 2650px;
  left: 598px;
  font-size: var(--font-size-13xl);
  color: var(--color-red-300);
  width: 18px;
}
.div42,
.div43,
.tr-gp1 {
  display: inline-block;
}
.div43 {
  position: absolute;
  top: 2656px;
  left: 619px;
  font-size: var(--font-size-3xs);
  color: var(--color-red-300);
  width: 18px;
}
.tr-gp1 {
  top: 2655px;
  left: 577px;
  font-size: var(--font-size-2xs);
  width: 24px;
  height: 32px;
}
.atm1,
.internet-banking1,
.tr-gp1 {
  position: absolute;
  color: var(--color-gray-600);
}
.internet-banking1 {
  top: 2657px;
  left: 432px;
  font-size: var(--font-size-2xs);
  text-align: center;
  display: inline-block;
  width: 49px;
  height: 32px;
}
.atm1 {
  top: 2670px;
  left: 369px;
  font-size: var(--font-size-smi);
}
.money-bill-alt1,
.vector-icon36 {
  position: absolute;
  overflow: hidden;
}
.vector-icon36 {
  height: 0.48%;
  width: 1.41%;
  top: 97.25%;
  right: 69.3%;
  bottom: 2.27%;
  left: 29.3%;
  max-width: 100%;
  max-height: 100%;
}
.money-bill-alt1 {
  top: 2595px;
  left: 580px;
  background-color: var(--color-gray-500);
  width: 25px;
  height: 25px;
}
.dng-pet-c-l-child54 {
  position: absolute;
  top: 2658px;
  left: 428px;
  background-color: var(--color-gray-600);
  width: 53px;
  height: 2px;
}
.dng-pet-c-l-child55,
.dng-pet-c-l-child56 {
  position: absolute;
  top: 2653px;
  left: 950px;
  width: 34px;
  height: 34px;
}
.dng-pet-c-l-child56 {
  left: 998px;
}
.vector-icon37 {
  height: 0.55%;
  width: 0.63%;
  top: 97.4%;
  right: 24.14%;
  bottom: 2.05%;
  left: 75.23%;
  max-width: 100%;
  max-height: 100%;
}
.vector-icon37,
.vector-icon38,
.youtube1 {
  position: absolute;
  overflow: hidden;
}
.vector-icon38 {
  height: 0.44%;
  width: 1.33%;
  top: 97.47%;
  right: 20%;
  bottom: 2.09%;
  left: 78.67%;
  max-width: 100%;
  max-height: 100%;
}
.youtube1 {
  top: 2599px;
  left: 595px;
  background-color: var(--color-gray-500);
  width: 25px;
  height: 25px;
}
.dng-pet-c-l-child57 {
  position: absolute;
  top: 1410px;
  left: 1207px;
  width: 23px;
  height: 42px;
  cursor: pointer;
}
.dng-pet-c-l-child58 {
  position: absolute;
  top: 427px;
  left: 518px;
  background-color: var(--color-white);
  width: 149px;
  height: 247px;
}
.men-tiu-ha-container {
  position: absolute;
  top: 602px;
  left: 527px;
  white-space: pre-wrap;
}
.div44 {
  position: absolute;
  top: 643px;
  left: 527px;
  color: var(--color-red-100);
}
.image-14-icon {
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.component-2default,
.image-14-icon {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.component-10,
.component-11 {
  position: absolute;
  top: 427px;
  left: 519px;
  width: 147px;
  height: 154px;
}
.component-11 {
  left: 675px;
  width: 146px;
  height: 147px;
}
.component-12 {
  height: 147px;
}
.component-12,
.component-13 {
  position: absolute;
  top: 427px;
}
.component-12 {
  left: 829px;
  width: 149px;
}
.component-13 {
  left: 990px;
  width: 143px;
  height: 144px;
}
.component-6default,
.image-9-icon {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
}
.image-9-icon {
  height: 94.16%;
  bottom: 5.84%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.component-6default {
  height: 96.86%;
  bottom: 3.14%;
}
.component-14 {
  position: absolute;
  top: 682px;
  left: 518px;
  width: 149px;
  height: 159px;
}
.component-7default,
.image-10-icon {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
}
.image-10-icon {
  height: 90.13%;
  bottom: 9.87%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.component-7default {
  height: 96.82%;
  bottom: 3.18%;
}
.component-15 {
  position: absolute;
  top: 680px;
  left: 673px;
  width: 149px;
  height: 157px;
}
.component-16,
.component-17 {
  position: absolute;
  top: 682px;
  left: 830px;
  width: 148px;
  height: 159px;
}
.component-17 {
  top: 680px;
  left: 989px;
  width: 146px;
}
.component-18,
.image-17-icon {
  position: absolute;
  top: 933px;
  left: 987px;
  width: 149px;
  height: 160px;
}
.image-17-icon {
  height: 100%;
  width: 94.64%;
  top: 0;
  right: 0.89%;
  bottom: 0;
  left: 4.46%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.component-19,
.component-20 {
  position: absolute;
  top: 1187px;
  left: 540px;
  width: 112px;
  height: 150px;
}
.component-20 {
  top: 1186px;
  left: 677px;
  width: 143px;
  height: 163px;
}
.component-21,
.image-20-icon {
  position: absolute;
  top: 1193px;
  left: 831px;
  width: 149px;
  height: 150px;
}
.image-20-icon {
  height: 92.16%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 7.84%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.component-22,
.image-15-icon {
  position: absolute;
  top: 1187px;
  left: 990px;
  width: 147px;
  height: 153px;
}
.image-15-icon {
  height: 91.36%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 8.64%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.component-23,
.image-5-icon {
  position: absolute;
  top: 933px;
  left: 830px;
  width: 149px;
  height: 162px;
}
.image-5-icon {
  height: 97.5%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 2.5%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.component-24,
.image-13-icon {
  position: absolute;
  top: 933px;
  left: 673px;
  width: 149px;
  height: 160px;
}
.image-13-icon {
  height: 86.42%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 13.58%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.component-25,
.dng-pet-c-l {
  position: absolute;
  top: 933px;
  left: 517px;
  width: 149px;
  height: 162px;
}
.dng-pet-c-l {
  top: 1px;
  left: -6px;
  background-color: var(--color-white);
  width: 1280px;
  height: 2732px;
  overflow: hidden;
}
.dng-c-l {
  position: relative;
  width: 100%;
  height: 2732px;
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--color-darkturquoise);
  font-family: var(--font-inter);
}
