.gi-hng-child,
.gi-hng-item {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-darkturquoise);
  width: 1280px;
  height: 78px;
}
.gi-hng-item {
  top: 76px;
  background-color: var(--color-white);
  box-shadow: 0 6px 4px rgba(0, 0, 0, 0.25);
  height: 126px;
}
.ti-ng-dng {
  position: absolute;
  top: 28px;
  left: 117px;
  color: var(--color-snow-100);
}
.gi-hng-inner {
  position: absolute;
  top: 27px;
  left: 265px;
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  width: 161px;
  height: 23px;
}
.hotline-0848861472 {
  position: absolute;
  top: 29px;
  left: 275px;
  font-size: var(--font-size-sm);
  color: var(--color-darkturquoise);
  display: inline-block;
  width: 147px;
  height: 12px;
}
.clipboard-list {
  position: absolute;
  top: 91px;
  left: 423px;
  background-color: var(--color-gray-500);
  width: 25px;
  height: 25px;
  overflow: hidden;
}
.kim-tra-n {
  position: absolute;
  top: 29px;
  left: 901px;
  font-size: var(--font-size-sm);
  color: var(--color-white);
}
.th-removebg-preview-2-1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 211px;
  height: 74px;
  object-fit: cover;
}
.trang-thng-mi {
  position: absolute;
  top: 65px;
  left: 7px;
}
.th-removebg-preview-2-1-parent {
  position: absolute;
  top: 86px;
  left: 67px;
  width: 332px;
  height: 83px;
  font-size: var(--font-size-mini);
}
.gi-hng-child1 {
  position: absolute;
  top: 114px;
  left: 433px;
  border-radius: var(--br-6xl);
  background-color: var(--color-plum);
  border: 1.5px solid var(--color-fuchsia-100);
  box-sizing: border-box;
  width: 430px;
  height: 37px;
}
.ti-khon {
  position: absolute;
  top: 123px;
  left: 901px;
  font-size: var(--font-size-sm);
  color: var(--color-darkturquoise);
}
.account-icon {
  position: absolute;
  top: 122px;
  left: 874px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.tm-kim-sn {
  position: absolute;
  top: 123px;
  left: 447px;
  font-size: var(--font-size-sm);
  color: var(--color-dimgray-100);
}
.gi-hng-child2 {
  position: absolute;
  top: 202px;
  left: 491.5px;
  width: 1px;
  height: 126px;
}
.danh-mc-sn,
.danh-mc-sn-phm {
  position: absolute;
  top: 0;
  left: 0;
}
.danh-mc-sn-phm {
  top: 249px;
  left: 67px;
  width: 310px;
  height: 34px;
  cursor: pointer;
  font-size: var(--font-size-9xl);
  color: var(--color-darkturquoise);
}
.gi-hng-child3 {
  position: absolute;
  top: 247.5px;
  left: 388px;
  width: 46px;
  height: 1px;
}
.gi-hng-child4 {
  top: 257.5px;
}
.gi-hng-child4,
.gi-hng-child5,
.gi-hng-child6 {
  position: absolute;
  left: 388px;
  width: 46px;
  height: 1px;
}
.home-icon {
  position: absolute;
}
.gi-hng-child5 {
  top: 269.5px;
}
.gi-hng-child6 {
  top: 282.5px;
}
.home-icon {
  top: 246px;
  left: 511px;
  width: 35px;
  height: 35px;
  overflow: hidden;
}
.chm-sc-khch,
.trang-ch {
  position: absolute;
  font-size: var(--font-size-xl);
}
.trang-ch {
  top: 252px;
  left: 553px;
  color: var(--color-dimgray-100);
  cursor: pointer;
}
.chm-sc-khch {
  top: 251px;
  left: 692px;
  color: var(--color-darkturquoise);
}
.cloud-download {
  position: absolute;
  top: 135px;
  left: 771px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.gi-hng-child7 {
  position: absolute;
  top: 116px;
  left: 1027px;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-darkturquoise);
  box-sizing: border-box;
  width: 134px;
  height: 29px;
}
.gi-hng2 {
  position: absolute;
  top: 121px;
  left: 1060px;
  font-size: var(--font-size-sm);
  color: var(--color-darkturquoise);
}
.gi-hng-child8 {
  position: absolute;
  top: 118px;
  left: 1128px;
  width: 23px;
  height: 23px;
}
.div13 {
  position: absolute;
  top: 121px;
  left: 1135px;
  font-size: var(--font-size-sm);
  color: var(--color-white);
}
.map-marker-icon {
  position: absolute;
  top: 25px;
  left: 1046px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.h-ch-minh {
  position: absolute;
  top: 29px;
  left: 1070px;
  font-size: var(--font-size-sm);
  color: var(--color-white);
}
.gi-hng-child10,
.gi-hng-child9 {
  position: absolute;
  left: 0;
}
.gi-hng-child9 {
  top: 303px;
  background-color: var(--color-gainsboro-100);
  width: 1282px;
  height: 978px;
}
.gi-hng-child10 {
  top: 1282px;
  background-color: var(--color-darkturquoise);
  width: 1280px;
  height: 114px;
}
.vector-icon9 {
  position: absolute;
  height: 1.48%;
  width: 2.89%;
  top: 68.99%;
  right: 88.83%;
  bottom: 29.52%;
  left: 8.28%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.book-open-variant-icon,
.vector-icon10 {
  position: absolute;
  top: 1316px;
  left: 377px;
  width: 39px;
  height: 39px;
  overflow: hidden;
}
.vector-icon10 {
  height: 1.69%;
  width: 1.95%;
  top: 68.68%;
  right: 47.5%;
  bottom: 29.63%;
  left: 50.55%;
  max-width: 100%;
  max-height: 100%;
}
.phone-in-talk-icon {
  position: absolute;
  top: 1322px;
  left: 939px;
  width: 37px;
  height: 37px;
  overflow: hidden;
}
.chnh-sch-i {
  margin: 0;
}
.chnh-sch-i-container {
  left: 158px;
}
.bn-cn-hr-container,
.chnh-sch-i-container,
.chnh-sch-mua-container,
.iu-khon-s-container {
  position: absolute;
  top: 1319px;
  color: var(--color-white);
}
.iu-khon-s-container {
  left: 428px;
}
.chnh-sch-mua-container {
  left: 686px;
}
.bn-cn-hr-container {
  left: 983px;
}
.gi-hng-child11 {
  position: absolute;
  top: 1317px;
  left: 347.5px;
  width: 1px;
  height: 58px;
}
.gi-hng-child12 {
  top: 1317px;
}
.gi-hng-child12,
.gi-hng-child13 {
  position: absolute;
  width: 1px;
  height: 58px;
}
.gi-hng-child12 {
  left: 629.5px;
}
.gi-hng-child13 {
  top: 1316px;
  left: 905.5px;
}
.th-removebg-preview-2-2 {
  position: absolute;
  top: 1416px;
  left: 40px;
  width: 263px;
  height: 81px;
  object-fit: cover;
}
.chng-nhn {
  left: 50px;
}
.chng-nhn,
.chng-nhn1,
.h-tr-khch,
.h-tr-khch1,
.v-chng-ti {
  position: absolute;
  font-size: var(--font-size-5xl);
  color: var(--color-mediumvioletred);
}
.v-chng-ti {
  top: 1520px;
  left: 50px;
}
.chng-nhn {
  top: 1746px;
}
.chng-nhn1 {
  top: 1745px;
  left: 505px;
}
.h-tr-khch {
  top: 1520px;
  left: 404px;
}
.h-tr-khch1 {
  top: 1520px;
  left: 774px;
}
.chnh-sch-t {
  color: inherit;
}
.phng-thc-vn-chuyn {
  margin-bottom: 0;
}
.chnh-sch-bo {
  color: var(--font-inherit);
}
.chnh-sch-t-hng-v-iu-kh {
  margin: 0;
  padding-left: var(--padding-2xl);
}
.chnh-sch-t-container {
  position: absolute;
  top: 1561px;
  left: 376px;
  font-size: var(--font-inherit);
  text-decoration: underline;
  font-family: var(--font-inherit);
  color: var(--font-inherit);
  display: inline-block;
  width: 366px;
}
.gi-hng-child14,
.gi-hng-child15 {
  position: absolute;
  top: 1553.5px;
  left: 52px;
  width: 107px;
  height: 1px;
}
.gi-hng-child15 {
  top: 1755.5px;
}
.gi-hng-child16 {
  top: 1776.5px;
  left: 505px;
}
.gi-hng-child16,
.gi-hng-child17,
.gi-hng-child18 {
  position: absolute;
  width: 107px;
  height: 1px;
}
.gi-hng-child17 {
  top: 1554.5px;
  left: 405px;
}
.gi-hng-child18 {
  top: 1554.5px;
  left: 776px;
}
.gii-thiu-tin-container {
  position: absolute;
  top: 1560px;
  left: 25px;
  font-size: var(--font-inherit);
  text-decoration: underline;
  font-family: var(--font-inherit);
  color: var(--font-inherit);
}
.a-ch-tr {
  color: var(--color-black);
}
.s-30-tn {
  color: var(--color-gray-600);
}
.wwwaeoneshopcom1 {
  text-decoration: underline;
}
.bn-quyn-ca-cng-ty-tnhh-aeo {
  margin: 0;
  color: var(--color-black);
}
.a-ch-tr-container {
  position: absolute;
  top: 1560px;
  left: 775px;
  display: inline-block;
  width: 468px;
  height: 177px;
  color: var(--color-gray-600);
}
.image-removebg-preview-1-1,
.image-removebg-preview-1-icon {
  position: absolute;
  object-fit: cover;
}
.image-removebg-preview-1-icon {
  top: 1739px;
  left: 234px;
  width: 171px;
  height: 56px;
}
.image-removebg-preview-1-1 {
  top: 1734px;
  left: 703px;
  width: 273px;
  height: 57px;
}
.phng-thc-thanh2,
.theo-di-chng {
  position: absolute;
  top: 1825px;
  left: 38px;
  color: var(--color-gray-400);
}
.theo-di-chng {
  left: 739px;
}
.gi-hng-child19 {
  left: 244px;
}
.gi-hng-child19,
.gi-hng-child20,
.gi-hng-child21,
.gi-hng-child22,
.gi-hng-child23 {
  position: absolute;
  top: 1820px;
  border-radius: var(--br-8xs);
  background-color: var(--color-gainsboro-400);
  width: 63px;
  height: 30px;
}
.gi-hng-child20 {
  left: 317px;
}
.gi-hng-child21 {
  left: 390px;
}
.gi-hng-child22 {
  left: 463px;
}
.gi-hng-child23 {
  left: 536px;
}
.vector-icon11,
.vector-icon12 {
  position: absolute;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon11 {
  height: 1.51%;
  width: 4.92%;
  top: 94.89%;
  right: 76.02%;
  bottom: 3.6%;
  left: 19.06%;
  border-radius: var(--br-8xs);
}
.vector-icon12 {
  height: 0.63%;
  width: 1.56%;
  top: 94.95%;
  right: 60.55%;
  bottom: 4.43%;
  left: 37.89%;
}
.div14,
.tin-mt {
  position: absolute;
}
.tin-mt {
  top: 1834px;
  left: 468px;
  font-size: var(--font-size-smi);
  color: var(--color-gray-600);
}
.div14 {
  top: 1815px;
  left: 563px;
  font-size: var(--font-size-13xl);
  color: var(--color-red-300);
  width: 18px;
}
.div14,
.div15,
.tr-gp {
  display: inline-block;
}
.div15 {
  position: absolute;
  top: 1821px;
  left: 584px;
  font-size: var(--font-size-3xs);
  color: var(--color-red-300);
  width: 18px;
}
.tr-gp {
  top: 1820px;
  left: 542px;
  font-size: var(--font-size-2xs);
  width: 24px;
  height: 32px;
}
.atm,
.internet-banking,
.tr-gp {
  position: absolute;
  color: var(--color-gray-600);
}
.internet-banking {
  top: 1822px;
  left: 397px;
  font-size: var(--font-size-2xs);
  text-align: center;
  display: inline-block;
  width: 49px;
  height: 32px;
}
.atm {
  top: 1835px;
  left: 334px;
  font-size: var(--font-size-smi);
}
.money-bill-alt,
.vector-icon13 {
  position: absolute;
  overflow: hidden;
}
.vector-icon13 {
  height: 0.68%;
  width: 1.41%;
  top: 94.95%;
  right: 72.03%;
  bottom: 4.38%;
  left: 26.56%;
  max-width: 100%;
  max-height: 100%;
}
.money-bill-alt {
  top: 1760px;
  left: 545px;
  background-color: var(--color-gray-500);
  width: 25px;
  height: 25px;
}
.gi-hng-child24 {
  position: absolute;
  top: 1823px;
  left: 393px;
  background-color: var(--color-gray-600);
  width: 53px;
  height: 2px;
}
.gi-hng-child25,
.gi-hng-child26 {
  position: absolute;
  top: 1818px;
  left: 915px;
  width: 34px;
  height: 34px;
}
.gi-hng-child26 {
  left: 963px;
}
.vector-icon14 {
  height: 0.78%;
  width: 0.63%;
  top: 95.15%;
  right: 26.88%;
  bottom: 4.06%;
  left: 72.5%;
  max-width: 100%;
  max-height: 100%;
}
.vector-icon14,
.vector-icon15,
.youtube {
  position: absolute;
  overflow: hidden;
}
.vector-icon15 {
  height: 0.63%;
  width: 1.33%;
  top: 95.26%;
  right: 22.73%;
  bottom: 4.12%;
  left: 75.94%;
  max-width: 100%;
  max-height: 100%;
}
.youtube {
  top: 1764px;
  left: 560px;
  background-color: var(--color-gray-500);
  width: 25px;
  height: 25px;
}
.vector-icon16 {
  position: absolute;
  height: 1.15%;
  right: 17.81%;
  bottom: 92.6%;
  left: 80.86%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon16,
.vector-icon17 {
  width: 1.33%;
  top: 6.25%;
}
.vector-icon17,
.vector-icon18 {
  position: absolute;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon17 {
  height: 1.2%;
  right: 34.61%;
  bottom: 92.55%;
  left: 64.06%;
}
.vector-icon18 {
  height: 0.83%;
  width: 1.72%;
  top: 1.51%;
  right: 91.48%;
  bottom: 97.66%;
  left: 6.8%;
}
.check-circle {
  top: 564px;
  left: 584px;
  background-color: var(--color-gray-500);
  width: 25px;
  height: 25px;
}
.check-circle,
.shipping-fast,
.vector-icon19 {
  position: absolute;
  overflow: hidden;
}
.shipping-fast {
  top: 563.5px;
  left: 583px;
  background-color: var(--color-gray-500);
  width: 25px;
  height: 25px;
}
.vector-icon19 {
  height: 1.01%;
  width: 1.22%;
  top: 65.19%;
  right: 1.59%;
  bottom: 33.8%;
  left: 97.19%;
  max-width: 100%;
  max-height: 100%;
  cursor: pointer;
}
.gi-hng-child27 {
  position: absolute;
  top: 318px;
  left: 17px;
  background-color: var(--color-white);
  width: 1227px;
  height: 935px;
}
.xa {
  position: absolute;
  top: 545px;
  left: 1136px;
  font-size: var(--font-size-xl);
}
.div16 {
  left: 791px;
}
.div16,
.div17,
.div18 {
  position: absolute;
  top: 548px;
  font-size: var(--font-size-mini);
}
.div17 {
  left: 898px;
}
.div18 {
  left: 841px;
}
.gi-gim-s-container {
  position: absolute;
  top: 811px;
  left: 52px;
  color: var(--color-red-200);
}
.gi-hng-child28 {
  position: absolute;
  top: 410px;
  left: 54px;
  width: 1156px;
  height: 272px;
}
.gi-hng3 {
  position: absolute;
  top: 328px;
  left: 554px;
  font-size: var(--font-size-17xl);
  color: #f90000;
}
.gi-hng-child29 {
  position: absolute;
  top: 682px;
  left: 54px;
  background-color: var(--color-gainsboro-300);
  width: 1156px;
  height: 24px;
}
.vector-icon20,
.vector-icon21 {
  position: absolute;
  height: 0.81%;
  width: 0.72%;
  top: 35.75%;
  right: 94.83%;
  bottom: 63.44%;
  left: 4.45%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon21 {
  right: 5.77%;
  left: 93.52%;
}
.ghi-ch {
  position: absolute;
  top: 742px;
  left: 58px;
  font-size: var(--font-size-xl);
}
.lu3 {
  color: var(--color-red-200);
}
.gi-hng-child30 {
  position: absolute;
}
.lu-chng-container {
  position: absolute;
  top: 870px;
  left: 52px;
}
.gi-hng-child30 {
  top: 919px;
  left: 53px;
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 577px;
  height: 186px;
}
.tng-cng3 {
  font-family: var(--font-inter);
}
.tng-cng-250000-container {
  position: absolute;
  top: 737px;
  left: 1000px;
  font-size: var(--font-size-xl);
}
.tip-tc-mua1 {
  top: 787px;
  left: 733px;
  font-size: var(--font-size-xl);
  font-weight: 300;
}
.nu-qu-khch,
.qu-khch-vui-container,
.tip-tc-mua1,
.xut-ha-n {
  position: absolute;
  color: var(--color-tomato-100);
}
.xut-ha-n {
  top: 852px;
  left: 707px;
  font-size: var(--font-size-lg);
}
.nu-qu-khch,
.qu-khch-vui-container {
  display: inline-block;
  width: 596px;
  height: 60px;
}
.qu-khch-vui-container {
  top: 874px;
  left: 648px;
}
.nu-qu-khch {
  top: 934px;
  left: 646px;
}
.gi-hng-child31,
.gi-hng-child32 {
  position: absolute;
  top: 776px;
  left: 912px;
  border-radius: var(--br-8xs);
  background-color: var(--color-red-200);
  width: 142px;
  height: 48px;
}
.gi-hng-child32 {
  top: 1170px;
  left: 944px;
  width: 281px;
}
.cp-nht {
  position: absolute;
  top: 787px;
  left: 935px;
  font-size: var(--font-size-xl);
  color: var(--color-white);
}
.group-child6 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-8xs);
  background-color: var(--color-red-200);
  width: 170px;
  height: 48px;
}
.thanh-ton {
  position: absolute;
  top: 12px;
  left: 21px;
}
.lu-thng-tin,
.rectangle-parent6 {
  position: absolute;
  font-size: var(--font-size-xl);
  color: var(--color-white);
}
.rectangle-parent6 {
  top: 775px;
  left: 1064px;
  width: 170px;
  height: 48px;
  cursor: pointer;
}
.lu-thng-tin {
  top: 1183px;
  left: 955px;
}
.gi-hng-child33 {
  top: 982px;
}
.gi-hng-child33,
.gi-hng-child34,
.gi-hng-child35,
.gi-hng-child36 {
  position: absolute;
  left: 646px;
  border-radius: var(--br-8xs);
  background-color: var(--color-gainsboro-300);
  width: 594px;
  height: 36px;
}
.gi-hng-child34 {
  top: 1025px;
}
.gi-hng-child35 {
  top: 1069px;
}
.gi-hng-child36 {
  top: 1116px;
}
.a-ch-cng {
  position: absolute;
  color: var(--color-gray-600);
}
.email1 {
  top: 990px;
}
.email1,
.m-s-thu,
.tn-cng-ty {
  position: absolute;
  left: 658px;
  color: var(--color-gray-600);
}
.tn-cng-ty {
  top: 1034px;
}
.m-s-thu {
  top: 1077px;
}
.a-ch-cng {
  top: 1124px;
  left: 660px;
}
.qu-khch-c-container,
.vector-icon22 {
  position: absolute;
  top: 768px;
  left: 55px;
}
.vector-icon22 {
  height: 0.94%;
  width: 1.58%;
  top: 56.38%;
  right: 51.33%;
  bottom: 42.68%;
  left: 47.09%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.hnh {
  left: 135px;
}
.gi,
.hnh,
.s-lng,
.thao-tc,
.thnh-tin,
.tn-sn-phm {
  position: absolute;
  top: 428px;
  font-size: var(--font-size-xl);
  font-weight: 600;
}
.tn-sn-phm {
  left: 387px;
  display: inline-block;
  width: 135px;
  height: 19px;
}
.gi {
  left: 687px;
}
.s-lng {
  left: 807px;
}
.thao-tc {
  left: 1092px;
}
.thnh-tin {
  left: 940px;
}
.image-22-icon {
  position: absolute;
  top: 478px;
  left: 74px;
  width: 188px;
  height: 193px;
  object-fit: cover;
}
.men-tiu-ha3 {
  position: absolute;
  top: 546px;
  left: 292px;
  display: inline-block;
  width: 349px;
  height: 22px;
}
.b3,
.div19 {
  position: absolute;
  top: 545px;
  font-size: var(--font-size-xl);
  color: var(--color-red-200);
}
.div19 {
  left: 664px;
  font-weight: 300;
}
.b3 {
  left: 959px;
}
.gi-hng-child37 {
  position: absolute;
  top: 546px;
  left: 777px;
  border-radius: var(--br-8xs);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 147px;
  height: 22px;
}
.gi-hng-child38 {
  position: absolute;
  left: 813.5px;
}
.gi-hng-child38,
.gi-hng-child39 {
  top: 547px;
  width: 1px;
  height: 21px;
}
.gi-hng-child39,
.vector-icon23 {
  position: absolute;
}
.gi-hng-child39 {
  left: 884.5px;
}
.vector-icon23 {
  height: 0.94%;
  width: 1.25%;
  top: 28.56%;
  right: 12.34%;
  bottom: 70.51%;
  left: 86.41%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.gi-hng1 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1919px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-inter);
}
